# environment variables for integration tests
build --action_env=B3405920_CLIENT_ID
build --action_env=B3405920_CLIENT_SECRET
build --action_env=B3405920_PASSWORD
build --action_env=B3405920_USERNAME
build --action_env=DATASCIENCE_BOT_CLIENT_ID
build --action_env=DATASCIENCE_BOT_CLIENT_SECRET
build --action_env=DATASCIENCE_BOT_PASSWORD
build --action_env=DATASCIENCE_BOT_USERNAME
build --action_env=SUBREDDIT_NAME
build --action_env=SUBSTANTIALSTRAIN6_CLIENT_ID
build --action_env=SUBSTANTIALSTRAIN6_CLIENT_SECRET
build --action_env=SUBSTANTIALSTRAIN6_PASSWORD
build --action_env=SUBSTANTIALSTRAIN6_USERNAME

build --test_env=B3405920_CLIENT_ID
build --test_env=B3405920_CLIENT_SECRET
build --test_env=B3405920_PASSWORD
build --test_env=B3405920_USERNAME
build --test_env=DATASCIENCE_BOT_CLIENT_ID
build --test_env=DATASCIENCE_BOT_CLIENT_SECRET
build --test_env=DATASCIENCE_BOT_PASSWORD
build --test_env=DATASCIENCE_BOT_USERNAME
build --test_env=SUBREDDIT_NAME
build --test_env=SUBSTANTIALSTRAIN6_CLIENT_ID
build --test_env=SUBSTANTIALSTRAIN6_CLIENT_SECRET
build --test_env=SUBSTANTIALSTRAIN6_PASSWORD
build --test_env=SUBSTANTIALSTRAIN6_USERNAME


# zip python binaries with all runfiles
build --build_python_zip


# disk cache
fetch --repository_cache=.cache/repository_cache
build --repository_cache=.cache/repository_cache
test --repository_cache=.cache/repository_cache
build --disk_cache=.cache/disk_cache
test --disk_cache=.cache/disk_cache
